.main.container {height:100%;}
.index.container {
    min-height: 500px;
    margin-top: 50px;
    background: url("../images/robot_with_no_background.png") no-repeat right bottom;
}

.space-above { margin-top: 30px; }
.dropdown-menu { max-height: 300px; overflow-y: scroll; }

.text-bubble {
    position: relative;
    padding: 30px;
    border: 1px solid #333;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}
.text-bubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 30px;
    bottom: -50px;
    border: 25px solid;
    border-color: #666 #666 transparent transparent;
}
.text-bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 32px;
    bottom: -46px;
    border: 24px solid;
    border-color: #fff #fff transparent transparent;
}