html
    head
        style 
            | body { margin: 0; }
            | canvas { display: inline !important; }
    body
        script(src='lib/phaser/phaser.js')
        script(data-main='ts/games/shapes-game/ShapesGamePage.js', src='lib/requirejs/require.js')