extends text-content

block main-text
  .page-header 
    h1 Experimental Games
  p This is a website with free games made by the <a target='_blanck' href='https://vrcgroup.wordpress.com/'>Virtual Research Collaboration</a> on Gender and Family in the Labor Market. The games are free. We collect anonymous, simple data for our research on performance in different games. We thank you very much for helping our project, and hope you enjoy the games!
  .media
    .media-left
      a(href="questionnaire")
        img.media-object(style="width: 64px; height: 64px", src="images/the-feedback-game.png")
    .media-body
      h4 The Shape Game
      | Click the shape shown in the top left corner. Find all of the shape to move on to the next shape. Find as many as you can to score points.