doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block content
    
    script(src='lib/jquery/jquery.js')
    script(scr='lib/bootstrap/js/bootstrap.js')
    script(src='lib/knockout/knockout.js')
    
    block scripts