extends layout

block content
	h1 Please answer the following questions!
	
	div(data-bind='foreach: Questions')
		h4(data-bind='text: Text')
		ul.nav.nav-pills
			<!-- ko foreach: Options -->
			li(data-bind='css: { active: IsSelected() }')
				a(data-bind='text: Text, click: select')
			<!-- /ko -->
	
	button.btn.btn-primary(data-bind='click: submit') Submit
		
block scripts
	script(data-main='ts/questionnaire/QuestionnairePage.js', src='lib/requirejs/require.js')